
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Base Style */

body{
  font-family: 'Inter', sans-serif;
  font-style: 16px;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,p{
  color: #000;
  padding-bottom: 30px;
}

p{
  line-height: 28px;
  color: #666;
  font-weight: 300;
}

ul{
  line-height: 35px;
  color: black;
  font-weight: 300;
}

li{
  line-height: 28px;
  color: #666;
  font-weight: 300;
}

.logo-text{
  font-size: 20px;
  font-weight: 900;
  color: #316bff;
}

.big-text{
  font-size: 70px;
  font-weight: 900;
}

.med-text{
  font-size: 40px;
}

.normal-text{
  font-size: 20px;
}

.small-text{
  font-size: 14px;
}

.intro-text{
  text-transform: uppercase;
  font-style: 20px;
  font-weight: bold;
}

.button{
  padding: 18px 28px;
  background: #316bff;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .big-text{
    font-size: 40px;
    font-weight: 900;
  }
}

/* Header */

.header{
  
}

.logo{
  z-index: 1;
}

.menu{
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
  z-index: 0;
  width: 100%;
  text-align: center;
}

.menu li {
  display: inline-block;
}

.menu li a{
  padding: 15px;
  display: block;
  margin-left: 10px;
}

.activ{
  background-color: #316bff;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.disactiv{
  color: #fff;
  transition: 0.4s;
}

.disactiv:hover{
  background-color: rgba(0, 127, 255, 0.4);
  color: #fff;
  border-radius: 4px;
  transition: 0.4s;
}

.cta li a{
  padding: 15px;
  margin-left: 10px;
}


.hamburger{
  display: none;
}



@media (max-width: 768px) {
  .cta{
    display: none;
  }

  .menu{
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    padding-top: 80px;
    text-align: inherit;
  }

  .menu--open{
    right: -70%;
  }

  .menu li{
    display: block;
  }

  .menu li a{
    padding: 15px 30px;
    font-size: 20px;
  }

  .hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
  }

  .hamburger span{
    background: #fff;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 425px) {
  .cta{
    display: none;
  }

  .menu{
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    padding-top: 80px;
    text-align: inherit;
  }

  .menu--open{
    right: -55%;
  }

  .menu li{
    display: block;
  }

  .menu li a{
    padding: 15px 30px;
    font-size: 20px;
  }

  .hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
  }

  .hamburger span{
    background: #fff;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
}

/* Hero */

.hero{
  height: 100vh;
  display: flex; width: 100%; align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.90)),
  url('../immagini/Netiquette.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}

.hero:after{
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.90));
}

.hero__content{
  position: relative;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  z-index: 1;
}

.hero__content h1,
.hero__content p{
  color: #fff;
  z-index: 1;
  position: relative;
}

#bg-video{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  z-index: 0;
  object-fit: cover;
}

@media (max-width: 768px) {
  #bg-video{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    z-index: 0;
    object-fit: cover;
  }
}

/* Poster */

.poster{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.poster__img{
  width: 55%;
  height: 100%;
}

.poster__img img{
  object-fit: cover; /* ! L'immagine prendere le grandezze del suo contenitore */
  width: 100%;
  height: 100%;
}

.poster__content{
  width: 35%;
  padding: 50px;
}



@media (max-width: 768px) {
  .poster{flex-wrap: wrap; height: auto;}

  .poster__img,
  .poster__content{
    width: 100%;
  }
}

/* ! BG Cover */

.bg-cover{
  display: flex;
  padding: 100px 0;
  background: linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0, 0.7)),
  url('../immagini/IdentitàDigitale.jpeg') no-repeat center center;
  background-size: cover;
}

.bg-cover__text{
  width: 50%;
  padding: 30px;
}

.bg-cover__title{
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: center;
}

.bo{
  color: #fff;
}

@media (max-width: 768px) {
  .bg-cover{
    flex-wrap: wrap;
    height: auto;
  }

  .bg-cover__text,
  .bg-cover__title{
    width: 100%;
  }
}

/* ! Grid */

.grid{
  display: flex;
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
}

.grid .col{
  width: 100%;
}

@media (max-width: 768px) {
  .grid{flex-wrap: wrap;}
}

/* Carosel */

.main-carousel{
  padding: 40px 0px;
}

.carousel-cell{
  height: 350px;
  width: 350px;
  margin-right: 40px;

}

.carousel-cell__content{
  width: 100%;
  height: 100%;
  background-color: #6adf91;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
}

/* ! Panel Blue */

.panel-blue{
  background-color: #4bb1e9;
  padding: 100px 30px;
}

.panel-blue__text{
  display: flex;
  align-items: center;
}

.dot{
  height: 250px;
  width: 250px;
  background-color: #6adf91;
  border-radius: 100%;
  line-height: 250px;
  text-align: center;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 40px;
}

/* ! Form */

form{
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.122);
  width: 55%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

form > div {
    padding: 20px;
}

span{
  color: #fff;
  padding: 0px;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 0px solid orangered;
    width: 50%;
    color: #ffffff;
    padding-left: 1%;
    outline: none;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 0px solid gray;
    color: #ffffff;
    padding-left: 0%;
    outline: none;
    font-size: 1.5rem;
    float: left;
}

input[type="reset"] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 0px solid gray;
    color: #ffffff;
    padding-left: 0%;
    outline: none;
    font-size: 1.5rem;
}

div:hover > span, input, input[type="submit"]:hover,input[type="reset"]:hover {
    color:rgb(255, 68, 0);
    transition: 0.3s;
}

select,option  {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 0px solid orangered;
    width: 50%;
    color: orangered;
    padding-left: 1%;
    outline: none;
    font-size: 1rem;
}

/* ! Footer */

.footer{
  background-color: #010e30;
  padding: 150px 0;
}



/* ! Helpers */

.mt-1{margin-top: 50px}
.mt-2{margin-top: 100px}
.mt-3{margin-top: 150px}
.tw{color: #fff}
.right{float: right;}
.left{float: left;}


@media (max-width: 768px) {
  .mt-sma-0{margin-top: 0;}
  .mb-sma-0{margin-bottom: 0;}
}
